:host {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

form {
  width: 700px;

  margin: auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;

}

div {
  margin-bottom: 1em;
}

label {
  margin-bottom: .5em;
  color: #333333;
  display: block;
}

.styleInputText {
  border: 1px solid #adadad;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

.box {
  width: 100%;

}

.row > * {

  padding-right: 0; /* Rimuove il padding destro */
  padding-left: 0; /* Rimuove il padding sinistro */

}
.my-custom-multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 2px solid #007BFF !important; /* Cambiato il colore del bordo */
  margin-right: 6px !important; /* Cambiato il margine */
  background: #007BFF !important; /* Cambiato il colore di sfondo */
  padding: 0 10px !important; /* Cambiato il padding */
  color: #000 !important; /* Cambiato il colore del testo */
  border-radius: 4px !important; /* Cambiato il raggio di bordatura */
  float: right !important; /* Cambiato l'allineamento */
  max-width: 300px !important;
}


select {
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

option {
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #CCCCCC;
}

.error {
  color: red;
  font-size: 0.8em;
}

.pointer-cursor {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.euro-symbol {
  position: absolute;
  top: 50%;
  right: 10px; /* Puoi regolare questa distanza in base alle tue necessità */
  transform: translateY(-50%);
  pointer-events: none; /* Impedisce che il simbolo interferisca con l'input */
  font-size: 1.2em; /* Puoi regolare la dimensione del simbolo in base alle tue necessità */
}
