<form [formGroup]="immobiliForm" (ngSubmit)="onSubmit()">
  <h3 class=" text-center"></h3>

  <div>
    <label for="tipo">Tipo:</label>
    <select id="tipo" type="select" formControlName="tipo">
      <option value="" disabled selected>Scegli un tipo...</option>
      <option *ngFor="let option of immobiliOptions" [ngValue]="option.value">
        {{ option.label }}
      </option>
    </select>
    <div class="error" *ngIf=" !isValid && immobiliForm.get('tipo')?.invalid ">
      campo è obbligatorio.
    </div>
  </div>

  <div>
    <label for="vani">Vani:</label>
    <input id="vani" class="styleInputText" type="number" formControlName="vani">
    <div class="error" *ngIf=" !isValid &&  immobiliForm.get('vani')?.invalid ">
      campo è obbligatorio min 1 vano.
    </div>
  </div>

  <div>
    <!--    <label for="costo">Costo:</label>-->
    <!--    <input id="costo" class="styleInputText" type="text" formControlName="costo" appEuro>-->
    <!--    <div *ngIf="immobiliForm.get('costo')?.invalid && immobiliForm.get('costo')?.touched">-->
    <!--      campo è obbligatorio.-->
    <!--    </div>-->
    <label for="costo">Costo:</label>
    <div class="position-relative">
      <input id="costo" class="styleInputText" type="number" formControlName="costo">
      <span class="euro-symbol">€ </span>
    </div>
    <div class="error" *ngIf="!isValid &&  immobiliForm.get('costo')?.invalid ">
      campo è obbligatorio.
    </div>
  </div>

  <div>
    <!--    <label for="superfice">Superficie:</label>-->
    <!--    <input id="superfice" class="styleInputText" type="text" formControlName="superfice" appSquareMeters>-->
    <!--    <div *ngIf="immobiliForm.get('superfice')?.invalid && immobiliForm.get('superfice')?.touched">-->
    <!--      campo è obbligatorio.-->
    <!--    </div>-->
    <label for="superfice">Superficie:</label>
    <div class="position-relative">
      <input id="superfice" class="styleInputText" type="number" formControlName="superfice">
      <span class="euro-symbol">m²</span>
    </div>
    <div class="error" *ngIf="!isValid &&  immobiliForm.get('superfice')?.invalid">
      campo è obbligatorio.
    </div>
  </div>

  <div>
    <label for="anno">anno di costruzione:</label>
    <input id="anno" class="styleInputText" type="number" formControlName="anno">
    <div class="error" *ngIf="!isValid &&  immobiliForm.get('anno')?.invalid ">
      campo è obbligatorio.
    </div>
  </div>


  <label>annessi Diponibili:</label>
  <div class=" d-flex justify-content-center align-items-center">
    <div class="row box-over-flow">

      @if (listaAnnessiNoIMMBL!.length > 0) {
        <div class="col-4 form-check d-flex justify-content-center align-items-center"
             *ngFor="let annesso of listaAnnessiNoIMMBL; let i = index">
          <input class="form-check-input m-2" type="checkbox" [id]="'noPropCheck' + i"
                 (change)="onCheckboxChange($event, annesso)">
          <label class="form-check-label" [for]="'noPropCheck' + i">
            {{ annesso.tipo }} | mq: {{ annesso.superficie }}
          </label>
        </div>
      } @else {
        <label class="form-check-label">
          Nessun Annesso Libero
        </label>
      }

    </div>
  </div>



  <div>
    <label for="proprietariDTO">Proprietario:<span><small> (facoltativo)</small></span></label>
    <select id="proprietariDTO" type="select" formControlName="proprietariDTO">
      <option value="null" disabled selected>Scegli un Proprietario...</option>
      <option *ngFor="let prop of listaProprietari" [value]="serializeProprietario(prop)">
        {{ prop.nome }} {{ prop.cognome }}
      </option>
    </select>

  </div>
  <div class="d-flex flex-row justify-content-evenly">
    <button type="submit">iniva</button>
    <!--    [disabled]="immobiliForm.invalid"-->
    <button routerLink="/immobiliTable">indietro</button>
  </div>

</form>


