<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row w-100">
    <div class="col-md-8 col-lg-6 mx-auto">

      <form [formGroup]="RegisterForm" (ngSubmit)="register()">
        <h2 [ngStyle]="{textAlign:'center', margin:'1em'}">Registrazione</h2>

        <input placeholder="Username" class="styleInputText" type="text" formControlName="username"/>

        <!--  <input class="styleInputText" type="text" [(ngModel)]="user.username" name="username" required />-->
        <div *ngIf="RegisterForm?.get('username')?.invalid && !ValidateForm" class="error">
          ⚠️ Il nome utente deve avere almeno 3 caratteri
        </div>

        <input placeholder="Email" class="styleInputText" type="email" formControlName="email"/>
        <!--  <input class="styleInputText" type="email" [(ngModel)]="user.email" name="email" required />-->

        <div *ngIf="RegisterForm?.get('email')?.invalid && !ValidateForm" class="error">
          ⚠️ l'email è obbligatoria
        </div>

        <!--        <label for="password">Password:</label>-->
        <!--        <input id="password" class="styleInputText" type="password" formControlName="password"/>-->

        <!--  <input class="styleInputText" type="password" [(ngModel)]="user.password" name="password" required />-->
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
            class="password-input styleInputText"
          />
          <button type="button" class="button-pass-eye" (click)="togglePasswordVisibility()">
            <i [class]="!showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" style="color: dimgrey;"></i>
          </button>
        </div>

        <div class="password-container">
          <div *ngIf="RegisterForm?.get('password')?.invalid && !ValidateForm" class="error">
            ⚠️ la password deve contenere ,
            <ul>
              <li>8 caratteri</li>
              <li>una maiuscola</li>
              <li>una minuscola</li>
              <li>un carattere speciale ($-!-%-*-?-&)</li>
            </ul>
          </div>
          <input
            [type]="showConfirmPass ? 'text' : 'password'"
            placeholder="Conferma Password"
            class="password-input styleInputText"
            type="password"
            formControlName="confirmPassword"
          />
          <button type="button" class="button-pass-eye" (click)="toggleConfirmPasswordVisibility()">
            <i [class]="!showConfirmPass ? 'fa fa-eye-slash' : 'fa fa-eye'" style="color: dimgrey;"></i>
          </button>
<!--          <div *ngIf="RegisterForm?.get('confirmPassword')?.invalid && !matchingPassword" class="error">-->
<!--            ⚠️ Le password non corrispondono-->
<!--          </div>-->
          <div *ngIf="RegisterForm.hasError('passwordMismatch') && !ValidateForm" class="error">
            ⚠️ Le password non corrispondono
          </div>
        </div>
        <button type="submit">Registrati</button>
      </form>
    </div>
  </div>
</div>

