.active{
  background-color:darkgrey;
  color:white !important;
  border-radius: 5px;
}
.logo{
  height:70px;
  width:75px;
  background-image:url('https://media.istockphoto.com/id/1378442944/it/vettoriale/modelli-vettoriali-di-progettazione-di-logo-immobiliare.jpg?s=612x612&w=0&k=20&c=-nb4Uo2HMf0QxXOLikSIUlDWhxfZm9uE2Mg_-3JtGQw=');
  background-repeat:no-repeat;
  background-position:center !important;
  background-size:cover !important;
  border-radius:50% !important;
  margin-left:20px ;
}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffc107 !important;
}
