:host{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
form {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

div {
  margin-bottom: 1em;
}

label {
  margin-bottom: .5em;
  color: #333333;
  display: block;
}

.styleInputText {
  margin-bottom: 1em;
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

.box {
  width: 100%;

}

.password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 40px;
}

.button-pass-eye {
  position: absolute;
  top: 0;
  right: 0; /* Puoi regolare questa distanza in base alle tue necessità */
  transform: translateY(-50%);
  font-size: 1.2em; /* Puoi regolare la dimensione del simbolo in base alle tue necessità */
  background: none;
  border: none;
  cursor: pointer;

}




button {
  margin-top: 1em;
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #CCCCCC;
}

.error {
  color: red;
  font-size: 0.8em;
}
.pointer-cursor {
  cursor: pointer;
}
