<div class="w-100 bg-dark d-flex justify-content-center align-items-center">
  <dialog #dialog>
    <h2>lista immobili</h2>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">tipo</th>
          <th scope="col">vani</th>
          <th scope="col">costo</th>
          <th scope="col">superficie</th>
          <th scope="col">anno</th>


        </tr>
        </thead>
        <tbody>
          @if (Array.isArray(listaImmobili)) {
            <tr *ngFor="let immobile of listaImmobili">

              <td>{{ immobile.id }}</td>
              <td>{{ immobile.tipo }}</td>
              <td>{{ immobile.vani }}</td>
              <td>{{ immobile.costo | currency:'EUR' }}</td>
              <td>{{ immobile.superfice | squareMeter }}</td>
              <td>{{ immobile.anno }}</td>
            </tr>
          } @else {
            <tr>
              <td>{{ listaImmobili?.id }}</td>
              <td>{{ listaImmobili?.tipo }}</td>
              <td>{{ listaImmobili?.vani }}</td>
              <td>{{ listaImmobili?.costo | currency:'EUR' }}</td>
              <td>{{ listaImmobili?.superfice | squareMeter }}</td>
              <td>{{ listaImmobili?.anno }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="container-button">
      <button (click)="onClose(dialog)" class="btn btn-success">OK</button>

    </div>
  </dialog>
</div>


